certifi==2025.7.14
conceptnet_lite==0.2.0
matplotlib==3.10.5
networkx==3.5
numpy==2.3.2
openai==1.100.2
pandas==2.3.1
peewee==3.18.2
plotly==6.3.0
Requests==2.32.5
scikit_learn==1.7.1
spacy==3.8.7
streamlit==1.48.0
torch==2.7.1
torch_geometric==2.6.1
tqdm==4.67.1
transformers==4.53.3
urllib3==2.5.0
scikit-learn==3.6.0